---
layout: default
title: Welcome to the CS50 Web Track
---

<h1 id="#">{{page.title_heading}}</h1>

<div>
  <h1>What to do</h1>
  <ul>
    <li>Submit <a href="./{{page.project_url}}">{{page.project}}</a></li>
  </ul>
  <h2 id="when-to-do-it">When to Do It</h2>

  <p>By <span data-local="{{page.due}}T10:59:00-05:00"></span>.</p>

  <h2 id="how-to-get-help">How to Get Help</h2>

  <ol>
    <li>Ask questions during the Zoom call</li>
    <li>Ask questions on <a href="https://wa.me/+260968894799">WhatsApp</a></li>
  </ol>
</div>
